/*GERAL, para resetar todo espaçamento, margin,pading, etc...*/

html, body, header, footer, article, div, span, p, a, figure, img, small{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: sans-serif;
    outline: none;
}
